access_key        = "{{ vault_backend_access_key }}"
secret_key        = "{{ vault_backend_secret_key }}"
dynamodb_endpoint = "{{ vault_backend_dynamodb_endpoint }}"
dynamodb_table    = "locking"
bucket            = "{{ vault_backend_bucket }}"
