yc_token     = "{{ vault_yc_token }}"
yc_cloud_id  = "{{ vault_yc_cloud_id }}"
yc_folder_id = "{{ vault_yc_folder_id }}"
app_vm_user  = "{{ vault_yc_app_vm_user }}"
ssh_key      = "{{ vault_yc_ssh_key }}"